*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100;
    background-color: rgb(224, 224, 224);
}
.container{
    background-color: white;
    margin-top: 15%;
    padding: 2rem;
    border-radius: 1rem;
    min-height: 45vh;
    width: 50vh;
}
form{
    margin: 2rem 0 1rem 0 ;
}

form select,button,input{
    height: 35px;
     padding: 5px;
     padding-left: 10px;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 0.25rem;
}
form input{
    border: 1px solid lightslategray;
   font-size: 1rem;
}
.amount p{
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.dropdown {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;

}
.dropdown i {
    font-size: 1.5rem;
    margin-top: 0.5rem;
}
.select-container img{
    max-width: 2rem;

}
.select-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8rem;
    border-radius: 0.5rem;
    border: 1px solid lightgray;

}
.select-container select{
    font-size: 1rem;
    width: auto;
}
.msg{
    margin: 2rem 0 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}
form button{
height: 3rem;
color:black;
font-size: 1.2rem;
cursor: pointer;
}